apiVersion: v1
kind: Secret
metadata:
  name: zeir-secrets
type: Opaque
data:
  mysql-root-password: OEd3TUU4M1VCWV54eFI2U2gk
  mysql-user-password: OEd3TUU4M1VCWV54eFI2U2gk
  couchdb-password: OEd3TUU4M1VCWV54eFI2U2gk
  postgres-password: OEd3TUU4M1VCWV54eFI2U2gk
  opensrp-postgres-password: OEd3TUU4M1VCWV54eFI2U2gk
  redis-password: OEd3TUU4M1VCWV54eFI2U2gk
  openmrs-ui-password: NFR2V3Rzb3pXZDZLam0=
  dhis2-password: OEd3TUU4M1VCWV54eFI2U2gk
  superset-secret-key: OEd3TUU4M1VCWV54eFI2U2gk
